<!DOCTYPE html>
<html>
<head>
  <title><%= controller_name.upcase!+" "+R0z.config.title %></title>

  <meta name="author" content="Rob1NN" />
  <meta name="description" content="the funniest flashes on the interwebz!" />
  <!-- @rob1nn: the golden keywords of laifu, especially the last one -->
  <meta name="keywords" content="swf, flash, adobe, funny, loop, random, z0r" />
  <%= favicon_link_tag 'favicon.ico' %>
  <%= piwik_tracking_tag %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application' %>
  <%= stylesheet_link_tag    'info' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'info' %>
</head>
<body>
<%= controller_name.capitalize! %> following.
</body>
</html>